rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Global Helpers
    function isSignedIn() {
      return request.auth != null;
    }
    function isSuperAdmin() {
      return isSignedIn() && (
        request.auth.uid == 'x9Qzlx2QHmXDDHnzN9lRsNpEL512' ||
        (request.auth.token.keys().contains('email') && request.auth.token.email.toLower() == 'lelalusiana215@gmail.com')
      );
    }
    function isAdminOf(schoolId) {
      return isSignedIn() && (
        isSuperAdmin() || (
          request.auth.token.keys().contains('email') &&
          exists(/databases/$(database)/documents/admins/$(request.auth.token.email.toLower())) &&
          schoolId in get(/databases/$(database)/documents/admins/$(request.auth.token.email.toLower())).data.schoolIds
        )
      );
    }

    // Admins Collection
    match /admins/{email} {
      allow read: if isSignedIn() && (
        isSuperAdmin() || 
        (request.auth.token.keys().contains('email') && request.auth.token.email.toLower() == email.toLower())
      );
      allow write: if isSuperAdmin();
    }

    // Schools Collection
    match /schools/{schoolId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isSuperAdmin();

      // Students sub-collection
      match /students/{studentId} {
        allow get: if true;
        allow list, delete: if isAdminOf(schoolId);
        allow create, update: if isAdminOf(schoolId) && 
                               request.resource.data.nisn is string && 
                               request.resource.data.schoolId == schoolId;
      }
    }
  }
}
